@charset "UTF-8";

@keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

body, div, h2, p, select, button, img{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: rgba(0,0,0,1);
}

h2, p, label{
	font-family: 'Open Sans', sans-serif;
}

h2, p{
	text-align: left;
	line-height: 100%;
}

h2{
	display: inline;
	margin-right: 8px;
	font-size: 12pt;
	font-weight: normal;
	color: rgba(255,255,255,0.7);
}

#Container{
	padding:20px 10px 20px;
}

.Option{
	margin: 12px 72px;
}

.Option div, .Option p{
	display: inline;
}

p, label, select, button{
	font-size: 12pt;
}

p, label{
	color: rgba(255,255,255,0.9);
}

label{
	margin-right: 4px;
}

button{
	appearance: none;
	width: 32px;
	height: 32px;
	margin: 0px;
	padding: 0px;
	background: none;
	border: none;
	border-radius: 0px;
	outline: none;
	vertical-align: -55%;
	opacity: 0.8;
	background-position: left top;
	background-size: 100%;
	background-repeat: no-repeat;
}

button:first-child{
	margin-right: 4px;
}

button:hover{
	opacity: 1;
}

#Date p{
	margin-right: 4px;
}

#Button{
	margin-left: 8px;
}

#Button p{
	margin: 0px;
}

#PrevButton{
	transform: scale(-1, 1);
}

.Play{
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22white%22%20width%3D%2218px%22%20height%3D%2218px%22%3E%3Cpath%20d%3D%22M12%202C6.48%202%202%206.48%202%2012s4.48%2010%2010%2010%2010-4.48%2010-10S17.52%202%2012%202zm-2%2013.5v-7c0-.41.47-.65.8-.4l4.67%203.5c.27.2.27.6%200%20.8l-4.67%203.5c-.33.25-.8.01-.8-.4z%22%2F%3E%3C%2Fsvg%3E');
}

.Pause{
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22white%22%20width%3D%2218px%22%20height%3D%2218px%22%3E%3Cpath%20d%3D%22M12%202C6.48%202%202%206.48%202%2012s4.48%2010%2010%2010%2010-4.48%2010-10S17.52%202%2012%202zm-2%2014c-.55%200-1-.45-1-1V9c0-.55.45-1%201-1s1%20.45%201%201v6c0%20.55-.45%201-1%201zm4%200c-.55%200-1-.45-1-1V9c0-.55.45-1%201-1s1%20.45%201%201v6c0%20.55-.45%201-1%201z%22%2F%3E%3C%2Fsvg%3E');
}

#AutoPlay{
	margin-left: 8px;
}

#Speed{
	margin-left: 0px;
}

#Link{
	margin-left: 16px;
}

a{
	color: rgba(255,255,255,1);
	text-decoration: underline;
	opacity: 0.8;
}

a:hover{
	opacity: 1;
}

.External{
	padding-right: 14pt;
	background-position: right 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20fill%3D%22white%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20height%3D%2224px%22%3E%3Cpath%20d%3D%22M%203%203%20L%203%2021%20L%2021%2021%20L%2021%2012%20L%2019%2012%20L%2019%2019%20L%205%2019%20L%205%205%20L%2012%205%20L%2012%203%20L%203%203%20z%20M%2014%203%20L%2014%205%20L%2017.585938%205%20L%208.2929688%2014.292969%20L%209.7070312%2015.707031%20L%2019%206.4140625%20L%2019%2010%20L%2021%2010%20L%2021%203%20L%2014%203%20z%22%2F%3E%3C%2Fsvg%3E');
}

#Image, #GpvImage, #GpvImage div{
	width: 800px;
	height: 600px;
}

#Image{
	position: relative;
	margin-top: 12px;
	text-align: center;
	background-color: rgba(255,255,255,0.1);
}

#NoImage{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;
	color: rgba(255,255,255,0.5);
	transform: translate(-50%, -50%);
}

#GpvImage, #GpvImage div{
	position: absolute;
	top: 0px;
	left: 0px;
}

#GpvImage div{
	background-position: left top;
	background-repeat: no-repeat;
	animation-name: fade-in;
	animation-timing-function: linear;
}
